ZOHO_CLIENT_ID=your-client-id
ZOHO_CLIENT_SECRET=your-client-secret
ZOHO_ACCOUNTS_SERVER=https://accounts.zoho.in
ZOHO_PROJECTS_API_ORIGIN=https://projectsapi.zoho.in
REDIS_URL=redis://127.0.0.1:6379

# Broker Host and Port
BROKER_HOST=127.0.0.1
BROKER_PORT=8787
